@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}

body{
    background: #F7FAFD;
    font-family: 'Inter';
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    width: 90%;
    margin: auto;
}

.nav-btn-secondary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 6px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #D2D6DA;
}

.nav-btn-secondary a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    color: #353535;
    text-decoration: none;
}

.nav-btn-primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 6px;
    height: 40px;
    background: #494666;
    border-radius: 4px;
}

.nav-btn-primary a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}

.main-content{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.main-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 66px;
    width: 50%;
    text-align: center;
}

.main-sub-title{
    font-family: 'Inter';
    font-style: normal;
    font-size: 36px;
    width: 50%;
    text-align: center;
}

.content{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.navbar{
    border-bottom: 1px solid #D2D6DA;
    width: 100%;
    background: #fff;
    color: #000;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}
